.blogPostContainer {}

.blogPostContainer>div>pre {
    padding: 0.75rem 0;
    margin-block: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px #0a0a0a;
}

.blogPostContainer>div>pre>code {
    display: grid;
    counter-reset: line;
}