.header {
    font-size: 30px;
    text-align: left;
    color: black;
}

.footerBarButtons {
    display: flex;
    gap: 2px;
    justify-content: right;
    margin-top: 10px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    cursor: pointer;
    background-color: rgb(163, 160, 160);
    box-shadow: inset -1px -1px #0a0a0a, inset 2px 2px grey;
}

.border {
    border: none;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    background: silver;
}